@import url(https://fonts.googleapis.com/css?family=Montserrat);

.App {
  background: rgb(169, 169, 169);
  background: linear-gradient(-45deg,#0d4c5b,#0060ac,#064250);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 400px;
  height: 400px;
  background-color: white;
  opacity: 80%;
  border-radius: 8px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-container .header {
  flex: 20%;
  display: grid;
  place-items: center;
}

.form-container .body {
  flex: 60%;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.form-container .footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: rgb(169, 169, 169);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}

.form-container .footer button:hover {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}

.basic-info-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basic-info-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 16px;
}

.about-info-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-info-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 16px;
}

/* PROGRESS BAR */
.progressbar {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 15px;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: #559b08;
  opacity: 50%;
  border-radius: 15px;
}

.summary-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 16px;
}

input {
  border: 2px solid rgb(169, 169, 169);
  border-radius: 5px;
}

input:focus {
  border: 3px solid rgb(169, 169, 169);
}